<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
    .unorder-list{
        background-color: aqua;
        width: 450px;
        border: 1px solid black;
        border-radius: 15px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    body{
        mardin: 0px;
        padding: 0px;
    }
</style>
</head>
<body>
    <ul class="unorder-list" style="list-style-type: circle">
        {% for info in i_list %}
           <li >
               <a style="text-decoration: none; font-size: 20px;" href="/about-me">
                 <strong>Name</strong>: {{ info['name']}}<br>
                 <strong>Age</strong> : {{info['age']}} <br>
                 <strong>School</strong> : {{info['school']}}<br> 
                 <strong>Hobby</strong> : {{info['hobby'] }}.<br>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>